In [1]:
from pathlib import Path
import pandas as pd

In [2]:
rec_df = pd.read_csv('_data/snowfinch-recordings.csv')
rec_df

,rec_path,brood_id,datetime,age_min,age_max,brood_size
0,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-25 09:00:01,4.0,5.0,3
1,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-22 17:00:00,1.0,2.0,4
2,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-26 06:00:00,5.0,6.0,3
3,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-22 07:19:15,1.0,2.0,4
4,2022/AT_Grossglockner/12_1_1_22/12_1_1_22_2206...,12_1_1_22,2022-06-25 18:00:00,4.0,5.0,3
...,...,...,...,...,...,...
4188,2022/Switzerland/Furka13_22a/22_06_20/20220617...,Furka13_22a,2022-06-17 17:30:00,19.0,20.0,5
4189,2022/Switzerland/Furka13_22a/22_06_20/20220618...,Furka13_22a,2022-06-18 13:30:00,20.0,21.0,5
4190,2022/Switzerland/Furka13_22a/22_06_20/20220617...,Furka13_22a,2022-06-17 05:30:00,19.0,20.0,5
4191,2022/Switzerland/Furka13_22a/22_06_20/20220616...,Furka13_22a,2022-06-16 20:30:00,18.0,19.0,5
4192,2022/Switzerland/Furka13_22a/22_06_20/20220618...,Furka13_22a,2022-06-18 20:30:00,20.0,21.0,5

In [4]:
size_df = pd.read_csv('_data/brood-size.csv')
size_df

,file,event,is_silence,class,1,2,3,4,5,recording,brood_id
0,12_1_1_22_20220626_150000__0.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22
1,12_1_1_22_20220626_150000__1.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22
2,12_1_1_22_20220626_150000__2.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22
3,12_1_1_22_20220626_150000__3.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22
4,12_1_1_22_20220626_150000__4.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22
...,...,...,...,...,...,...,...,...,...,...,...
83770,Furka13_22a_20220617_173000__0.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a
83771,Furka13_22a_20220617_173000__1.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a
83772,Furka13_22a_20220617_173000__2.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a
83773,Furka13_22a_20220617_173000__3.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a
83774,Furka13_22a_20220617_173000__4.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a

In [5]:
rec_df['rec_id'] = rec_df['rec_path'].apply(lambda path: Path(path).stem)
rec_df['rec_id'] = rec_df['brood_id'] + '_' + rec_df['rec_id']
rec_df = rec_df.set_index('rec_id')
rec_df = rec_df.drop(columns = 'rec_path').drop_duplicates()
rec_df

,brood_id,datetime,age_min,age_max,brood_size
rec_id,,,,,
12_1_1_22_20220625_090001,12_1_1_22,2022-06-25 09:00:01,4.0,5.0,3
12_1_1_22_20220622_170000,12_1_1_22,2022-06-22 17:00:00,1.0,2.0,4
12_1_1_22_20220626_060000,12_1_1_22,2022-06-26 06:00:00,5.0,6.0,3
12_1_1_22_20220622_071915,12_1_1_22,2022-06-22 07:19:15,1.0,2.0,4
12_1_1_22_20220625_180000,12_1_1_22,2022-06-25 18:00:00,4.0,5.0,3
...,...,...,...,...,...
Furka13_22a_20220617_173000,Furka13_22a,2022-06-17 17:30:00,19.0,20.0,5
Furka13_22a_20220618_133000,Furka13_22a,2022-06-18 13:30:00,20.0,21.0,5
Furka13_22a_20220617_053000,Furka13_22a,2022-06-17 05:30:00,19.0,20.0,5
Furka13_22a_20220616_203000,Furka13_22a,2022-06-16 20:30:00,18.0,19.0,5
Furka13_22a_20220618_203000,Furka13_22a,2022-06-18 20:30:00,20.0,21.0,5

In [6]:
size_df['age_min'] = size_df['recording'].apply(lambda rec: rec_df.loc[rec, 'age_min']).astype('float')
size_df['age_max'] = size_df['recording'].apply(lambda rec: rec_df.loc[rec, 'age_max']).astype('float')
size_df

,file,event,is_silence,class,1,2,3,4,5,recording,brood_id,age_min,age_max
0,12_1_1_22_20220626_150000__0.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
1,12_1_1_22_20220626_150000__1.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
2,12_1_1_22_20220626_150000__2.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
3,12_1_1_22_20220626_150000__3.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
4,12_1_1_22_20220626_150000__4.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83770,Furka13_22a_20220617_173000__0.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83771,Furka13_22a_20220617_173000__1.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83772,Furka13_22a_20220617_173000__2.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83773,Furka13_22a_20220617_173000__3.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83774,Furka13_22a_20220617_173000__4.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0

In [7]:
size_df = size_df[~size_df['is_silence']]
size_df

,file,event,is_silence,class,1,2,3,4,5,recording,brood_id,age_min,age_max
0,12_1_1_22_20220626_150000__0.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
1,12_1_1_22_20220626_150000__1.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
2,12_1_1_22_20220626_150000__2.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
3,12_1_1_22_20220626_150000__3.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
4,12_1_1_22_20220626_150000__4.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83770,Furka13_22a_20220617_173000__0.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83771,Furka13_22a_20220617_173000__1.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83772,Furka13_22a_20220617_173000__2.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83773,Furka13_22a_20220617_173000__3.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0
83774,Furka13_22a_20220617_173000__4.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220617_173000,Furka13_22a,19.0,20.0

In [8]:
mid_size_df = size_df[(size_df['age_min'] >= 5) & (size_df['age_max'] < 10)]
mid_size_df

,file,event,is_silence,class,1,2,3,4,5,recording,brood_id,age_min,age_max
0,12_1_1_22_20220626_150000__0.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
1,12_1_1_22_20220626_150000__1.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
2,12_1_1_22_20220626_150000__2.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
3,12_1_1_22_20220626_150000__3.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
4,12_1_1_22_20220626_150000__4.wav,feeding,False,3,0.0,0.0,1.0,0.0,0.0,12_1_1_22_20220626_150000,12_1_1_22,5.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82502,Furka13_22a_20220604_093000__76.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220604_093000,Furka13_22a,6.0,7.0
82503,Furka13_22a_20220604_093000__77.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220604_093000,Furka13_22a,6.0,7.0
82504,Furka13_22a_20220604_093000__78.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220604_093000,Furka13_22a,6.0,7.0
82505,Furka13_22a_20220604_093000__79.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220604_093000,Furka13_22a,6.0,7.0
82506,Furka13_22a_20220604_093000__80.wav,feeding,False,5,0.0,0.0,0.0,0.0,1.0,Furka13_22a_20220604_093000,Furka13_22a,6.0,7.0

In [9]:
mid_size_df[['file', 'class']].groupby('class').count()

        file
class
2       3119
3       4125
4      14749
5       5674

In [10]:
mid_size_df[['file', 'class', 'brood_id']].groupby('brood_id').agg({'class': 'max', 'file': 'count'}).sort_values('class')

                 class  file
brood_id
1_2_1_22             2  1545
Furka33_22a          2  1402
Furka33_22a_val      2   172
10_1_1_22            3   448
12_1_1_22            3   643
1_6_1_22             3   883
Furka31_22a          3  2151
Furka14_22a          4  2397
Furka10_22a          4  4143
4_4_1_22             4  1057
2_2_1_22             4  1094
1_8_1_22             4  2045
7_1_1_22             4   831
Furka34_22a          4  3182
Furka12_22a          5  2295
Furka13_22a          5  2987
Furka13_22a_val      5   392