In [80]:
import matplotlib.pyplot as plt
import pandas as pd

In [81]:
% matplotlib tk

UsageError: Line magic function `%` not found.

In [82]:
def extract_rec_name(file_name: str) -> str:
	end_idx = file_name.rindex('__')
	return file_name[:end_idx]


def count_samples_per_file(df: pd.DataFrame) -> pd.DataFrame:
	agg_df = pd.DataFrame(
		data = {
			'class': df['class'],
			'recording': df['file'].apply(extract_rec_name)
		}
	)

	agg_features = ['recording', 'class']
	agg_df = agg_df.reset_index().groupby(agg_features).count()

	return agg_df.rename(columns = { 'index': 'sample_count' }).sort_values(by = 'class').reset_index()

In [83]:
def plot_sample_count(df: pd.DataFrame, x_label_col: str, x_rotation: str, x_label: str, title: str):
	all_colors = list(plt.get_cmap('Set3').colors)
	color_map = { }
	class_colors = []

	for i, cls in enumerate(df['class'].unique()):
		color_map[cls] = all_colors[i]

	for cls in df['class']:
		class_colors.append(color_map[cls])

	plt.figure()

	plt.bar(df[x_label_col], df['sample_count'], color = class_colors)
	# x_tick_labels = df[x_label_col]
	# if x_tick_labels.dtype == 'object':
	# 	x_tick_labels = [f'{label[:11]}...' for label in x_tick_labels]

	plt.xticks(df[x_label_col], rotation = x_rotation)
	plt.xlabel(x_label)
	plt.title(title)

	handles = [plt.Rectangle((0, 0), 1, 1, color = color_map[label]) for label in df['class'].unique()]
	plt.legend(handles, df['class'].unique())

	plt.show()

# if save_figs:
# 	plt.savefig(f'_out/{x_label}.pdf')
# else:
# 	plt.show()

## Brood size

In [84]:
bs_data = pd.read_csv('_data.export/s2.0-o1.0/brood-size.csv')
bs_data

,file,event,is_silence,class,2,3,4,5
0,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,3,0,1,0,0
1,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,3,0,1,0,0
2,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,3,0,1,0,0
3,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,3,0,1,0,0
4,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,3,0,1,0,0
...,...,...,...,...,...,...,...,...
52921,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,2,1,0,0,0
52922,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,2,1,0,0,0
52923,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,2,1,0,0,0
52924,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,2,1,0,0,0
52925,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,2,1,0,0,0

In [85]:
bs_agg_df = count_samples_per_file(bs_data[~bs_data['is_silence']])
bs_agg_df['recording'] = bs_agg_df['recording'].apply(lambda rec: f'{rec[:16]}...')
bs_agg_df

              recording  class  sample_count
0   AT_1_2_1_22-BA04...      2           361
1   AT_1_2_1_22-BA10...      2          2142
2   Furka33_22a-BA17...      2          2667
3   Furka33_22a-BA05...      2          1158
4   AT_1_3_1_22-BA12...      3           142
5   AT_1_3_1_22-BA17...      3          1711
6   AT_1_6_1_22-BA06...      3           424
7   AT_1_6_1_22-BA13...      3          2446
8   Furka31_22a-BA16...      3          2531
9   Furka31_22a-BA04...      3           876
10  Furka34_22a-BA11...      4          3233
11  Furka34_22a-BA07...      4          1348
12  Furka14_22a-BA13...      4          2206
13  Furka14_22a-BA02...      4           536
14  Joch4_22a-BA18_B...      4            46
15  Furka12_22a-BA14...      4          3558
16  Joch4_22a-BA15_B...      4          2714
17  Furka10_22a-BA12...      4          3272
18  Furka10_22a-BA03...      4           855
19  AT_2_2_1_22-BA12...      4           837
20  AT_2_2_1_22-BA08...      4          2180
21  AT_1_8_1_22-BA11...      4          1541
22  AT_1_8_1_22-BA09...      4          1084
23  Furka13_22a-BA15...      5          3586
24  Furka13_22a-BA08...      5          2914
25  Furka12_22a-BA06...      5          2613

In [86]:
bs_cls_agg_df = bs_agg_df[['class', 'sample_count']].groupby('class').sum().reset_index()
bs_cls_agg_df

   class  sample_count
0      2          6328
1      3          8130
2      4         23410
3      5          9113

In [93]:
bs_feeding_agg_df = count_samples_per_file(bs_data.loc[~bs_data['is_silence'] & (bs_data['event'] == 'feeding')])
bs_feeding_agg_df['recording'] = bs_feeding_agg_df['recording'].apply(lambda rec: f'{rec[:16]}...')
bs_feeding_agg_df

              recording  class  sample_count
0   AT_1_2_1_22-BA04...      2           200
1   AT_1_2_1_22-BA10...      2           182
2   Furka33_22a-BA17...      2            26
3   Furka33_22a-BA05...      2           211
4   AT_1_3_1_22-BA12...      3            14
5   AT_1_3_1_22-BA17...      3           366
6   AT_1_6_1_22-BA06...      3           171
7   AT_1_6_1_22-BA13...      3           202
8   Furka31_22a-BA16...      3           103
9   Furka31_22a-BA04...      3           286
10  Furka34_22a-BA11...      4           203
11  Furka34_22a-BA07...      4           307
12  Furka14_22a-BA13...      4           126
13  Furka14_22a-BA02...      4           249
14  Joch4_22a-BA18_B...      4            29
15  Furka12_22a-BA14...      4           370
16  Joch4_22a-BA15_B...      4            84
17  Furka10_22a-BA12...      4           136
18  Furka10_22a-BA03...      4           651
19  AT_2_2_1_22-BA12...      4           153
20  AT_2_2_1_22-BA08...      4           248
21  AT_1_8_1_22-BA11...      4           351
22  AT_1_8_1_22-BA09...      4           301
23  Furka13_22a-BA15...      5            66
24  Furka13_22a-BA08...      5           399
25  Furka12_22a-BA06...      5           419

In [88]:
bs_feed_cls_agg_df = bs_feeding_agg_df[['class', 'sample_count']].groupby('class').sum().reset_index()
bs_feed_cls_agg_df

   class  sample_count
0      2           619
1      3          1142
2      4          3208
3      5           884

In [89]:
bs_contact_agg_df = count_samples_per_file(bs_data.loc[~bs_data['is_silence'] & (bs_data['event'] == 'contact')])
bs_contact_agg_df

                                            recording  class  sample_count
0   AT_1_2_1_22-BA04_BS02-2466C2065B90281B_2022060...      2           161
1   AT_1_2_1_22-BA10_BS02-24E144035BA44417_2022061...      2          1960
2   Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...      2          2641
3   Furka33_22a-BA05_BS02-248D9B02603706BB_2022071...      2           947
4   AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...      3           128
5   AT_1_3_1_22-BA17_BS03-243B1F075C79F9E9_2022061...      3          1345
6   AT_1_6_1_22-BA06_BS03-243B1F075C79F9E9_2022060...      3           253
7   AT_1_6_1_22-BA13_BS03-243B1F055AD2F48C_2022061...      3          2244
8   Furka31_22a-BA16_BS03-247AA5015FDF2A00_2022080...      3          2428
9   Furka31_22a-BA04_BS03-247AA5015FDF2A00_2022072...      3           590
10  Furka34_22a-BA11_BS04-247AA5015FDF2A00_2022061...      4          3030
11  Furka34_22a-BA07_BS04-247AA5015FDF2A00_2022061...      4          1041
12  Furka14_22a-BA13_BS04-24F3190160370695_2022061...      4          2080
13  Furka14_22a-BA02_BS04-24F3190160370695_2022060...      4           287
14  Joch4_22a-BA18_BS04-242A260460375836_20220624_...      4            17
15  Furka12_22a-BA14_BS04-24F3190160370695_2022072...      4          3188
16  Joch4_22a-BA15_BS04-242A260460375836_20220621_...      4          2630
17  Furka10_22a-BA12_BS04-24E144045FDF1AD9_2022061...      4          3136
18  Furka10_22a-BA03_BS04-24E144045FDF1AD9_2022060...      4           204
19  AT_2_2_1_22-BA12_BS04-2466C2065B902810_2022061...      4           684
20  AT_2_2_1_22-BA08_BS04-247AA5015BA4439B_2022060...      4          1932
21  AT_1_8_1_22-BA11_BS04-24E144035BA44334_2022061...      4          1190
22  AT_1_8_1_22-BA09_BS04-247AA5015C0309FF_2022060...      4           783
23  Furka13_22a-BA15_BS05-248D9B02603706BB_2022061...      5          3520
24  Furka13_22a-BA08_BS05-248D9B02603706BB_2022060...      5          2515
25  Furka12_22a-BA06_BS05-24F3190160370695_2022072...      5          2194

In [90]:
bs_contact_cls_agg_df = bs_contact_agg_df[['class', 'sample_count']].groupby('class').sum().reset_index()
bs_contact_cls_agg_df

   class  sample_count
0      2          5709
1      3          6988
2      4         20202
3      5          8229

In [94]:
plot_sample_count(
	bs_cls_agg_df, x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood size',
	title = '2s sample count per brood size'
)

plot_sample_count(
	bs_agg_df, x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = '2s sample count per recording'
)

plot_sample_count(
	bs_feed_cls_agg_df, x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood size',
	title = 'Feeding 2s sample count per brood size'
)

plot_sample_count(
	bs_feeding_agg_df, x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = 'Feeding 2s sample count per recording'
)

plot_sample_count(
	bs_contact_cls_agg_df, x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood size',
	title = 'Contact 2s sample count per brood size'
)

plot_sample_count(
	bs_contact_agg_df, x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = 'Contact 2s sample count per recording'
)

## Brood age

In [99]:
ba_data = pd.read_csv('_data.export/s2.0-o1.0/brood-age.csv')
ba_data

,file,event,is_silence,class,2,3,4,5,6,7,...,9,10,11,12,13,14,15,16,17,18
0,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,12,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,12,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,12,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,12,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...,contact,False,12,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52921,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
52922,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
52923,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
52924,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
52925,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,contact,False,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [72]:
ba_agg_df = count_samples_per_file(ba_data[~ba_data['is_silence']])
ba_agg_df['recording'] = ba_agg_df['recording'].apply(lambda rec: f'{rec[:16]}...')
ba_agg_df

              recording  class  sample_count
0   AT_1_2_1_22-BA04...      2           536
1   AT_1_2_1_22-BA10...      3           855
2   Furka33_22a-BA17...      4           361
3   Furka33_22a-BA05...      4           876
4   AT_1_3_1_22-BA12...      5          1158
5   AT_1_3_1_22-BA17...      6          2613
6   AT_1_6_1_22-BA06...      6           424
7   AT_1_6_1_22-BA13...      7          1348
8   Furka31_22a-BA16...      8          2180
9   Furka31_22a-BA04...      8          2914
10  Furka34_22a-BA11...      9          1084
11  Furka34_22a-BA07...     10          2142
12  Furka14_22a-BA13...     11          1541
13  Furka14_22a-BA02...     11          3233
14  Joch4_22a-BA18_B...     12           837
15  Furka12_22a-BA14...     12          3272
16  Joch4_22a-BA15_B...     12           142
17  Furka10_22a-BA12...     13          2446
18  Furka10_22a-BA03...     13          2206
19  AT_2_2_1_22-BA12...     14          3558
20  AT_2_2_1_22-BA08...     15          3586
21  AT_1_8_1_22-BA11...     15          2714
22  AT_1_8_1_22-BA09...     16          2531
23  Furka13_22a-BA15...     17          2667
24  Furka13_22a-BA08...     17          1711
25  Furka12_22a-BA06...     18            46

In [73]:
ba_cls_agg_df = ba_agg_df[['class', 'sample_count']].groupby('class').sum().sort_values(by = 'class').reset_index()
ba_cls_agg_df

    class  sample_count
0       2           536
1       3           855
2       4          1237
3       5          1158
4       6          3037
5       7          1348
6       8          5094
7       9          1084
8      10          2142
9      11          4774
10     12          4251
11     13          4652
12     14          3558
13     15          6300
14     16          2531
15     17          4378
16     18            46

In [95]:
ba_feed_agg_df = count_samples_per_file(ba_data.loc[~ba_data['is_silence'] & (ba_data['event'] == 'feeding')])
ba_feed_agg_df['recording'] = ba_feed_agg_df['recording'].apply(lambda rec: f'{rec[:16]}...')
ba_feed_agg_df

              recording  class  sample_count
0   Furka14_22a-BA02...      2           249
1   Furka10_22a-BA03...      3           651
2   AT_1_2_1_22-BA04...      4           200
3   Furka31_22a-BA04...      4           286
4   Furka33_22a-BA05...      5           211
5   Furka12_22a-BA06...      6           419
6   AT_1_6_1_22-BA06...      6           171
7   Furka34_22a-BA07...      7           307
8   AT_2_2_1_22-BA08...      8           248
9   Furka13_22a-BA08...      8           399
10  AT_1_8_1_22-BA09...      9           301
11  AT_1_2_1_22-BA10...     10           182
12  AT_1_8_1_22-BA11...     11           351
13  Furka34_22a-BA11...     11           203
14  AT_2_2_1_22-BA12...     12           153
15  Furka10_22a-BA12...     12           136
16  AT_1_3_1_22-BA12...     12            14
17  AT_1_6_1_22-BA13...     13           202
18  Furka14_22a-BA13...     13           126
19  Furka12_22a-BA14...     14           370
20  Furka13_22a-BA15...     15            66
21  Joch4_22a-BA15_B...     15            84
22  Furka31_22a-BA16...     16           103
23  Furka33_22a-BA17...     17            26
24  AT_1_3_1_22-BA17...     17           366
25  Joch4_22a-BA18_B...     18            29

In [96]:
ba_feed_cls_agg_df = ba_feed_agg_df[['class', 'sample_count']].groupby('class').sum().sort_values(
	by = 'class').reset_index()
ba_feed_cls_agg_df

    class  sample_count
0       2           249
1       3           651
2       4           486
3       5           211
4       6           590
5       7           307
6       8           647
7       9           301
8      10           182
9      11           554
10     12           303
11     13           328
12     14           370
13     15           150
14     16           103
15     17           392
16     18            29

In [76]:
ba_contact_agg_df = count_samples_per_file(ba_data.loc[~ba_data['is_silence'] & (ba_data['event'] == 'contact')])
ba_contact_agg_df

                                            recording  class  sample_count
0   Furka14_22a-BA02_BS04-24F3190160370695_2022060...      2           287
1   Furka10_22a-BA03_BS04-24E144045FDF1AD9_2022060...      3           204
2   AT_1_2_1_22-BA04_BS02-2466C2065B90281B_2022060...      4           161
3   Furka31_22a-BA04_BS03-247AA5015FDF2A00_2022072...      4           590
4   Furka33_22a-BA05_BS02-248D9B02603706BB_2022071...      5           947
5   Furka12_22a-BA06_BS05-24F3190160370695_2022072...      6          2194
6   AT_1_6_1_22-BA06_BS03-243B1F075C79F9E9_2022060...      6           253
7   Furka34_22a-BA07_BS04-247AA5015FDF2A00_2022061...      7          1041
8   AT_2_2_1_22-BA08_BS04-247AA5015BA4439B_2022060...      8          1932
9   Furka13_22a-BA08_BS05-248D9B02603706BB_2022060...      8          2515
10  AT_1_8_1_22-BA09_BS04-247AA5015C0309FF_2022060...      9           783
11  AT_1_2_1_22-BA10_BS02-24E144035BA44417_2022061...     10          1960
12  AT_1_8_1_22-BA11_BS04-24E144035BA44334_2022061...     11          1190
13  Furka34_22a-BA11_BS04-247AA5015FDF2A00_2022061...     11          3030
14  AT_2_2_1_22-BA12_BS04-2466C2065B902810_2022061...     12           684
15  Furka10_22a-BA12_BS04-24E144045FDF1AD9_2022061...     12          3136
16  AT_1_3_1_22-BA12_BS03-24E144045FDEF471_2022061...     12           128
17  AT_1_6_1_22-BA13_BS03-243B1F055AD2F48C_2022061...     13          2244
18  Furka14_22a-BA13_BS04-24F3190160370695_2022061...     13          2080
19  Furka12_22a-BA14_BS04-24F3190160370695_2022072...     14          3188
20  Furka13_22a-BA15_BS05-248D9B02603706BB_2022061...     15          3520
21  Joch4_22a-BA15_BS04-242A260460375836_20220621_...     15          2630
22  Furka31_22a-BA16_BS03-247AA5015FDF2A00_2022080...     16          2428
23  Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...     17          2641
24  AT_1_3_1_22-BA17_BS03-243B1F075C79F9E9_2022061...     17          1345
25  Joch4_22a-BA18_BS04-242A260460375836_20220624_...     18            17

In [77]:
ba_contact_cls_agg_df = ba_contact_agg_df[['class', 'sample_count']].groupby('class').sum().sort_values(
	by = 'class').reset_index()
ba_contact_cls_agg_df

    class  sample_count
0       2           287
1       3           204
2       4           751
3       5           947
4       6          2447
5       7          1041
6       8          4447
7       9           783
8      10          1960
9      11          4220
10     12          3948
11     13          4324
12     14          3188
13     15          6150
14     16          2428
15     17          3986
16     18            17

In [97]:
plot_sample_count(
	ba_agg_df.iloc[:12], x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = '2s samples per brood age 2 - 10'
)

plot_sample_count(
	ba_agg_df.iloc[12:], x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = '2s samples per brood age 11 - 18'
)

plot_sample_count(
	ba_cls_agg_df[:10], x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood age',
	title = '2s samples per recording, age 2 - 10'
)

plot_sample_count(
	ba_cls_agg_df[10:], x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood age',
	title = '2s samples per recording age 11 - 18'
)

plot_sample_count(
	ba_feed_agg_df.iloc[:12], x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = 'Feeding 2s samples per brood age 2 - 10'
)

plot_sample_count(
	ba_feed_agg_df.iloc[12:], x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = 'Feeding 2s samples per brood age 11 - 18'
)

plot_sample_count(
	ba_feed_cls_agg_df[:10], x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood age',
	title = 'Feeding 2s samples per recording, age 2 - 10'
)

plot_sample_count(
	ba_feed_cls_agg_df[10:], x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood age',
	title = 'Feeding 2s samples per recording age 11 - 18'
)

plot_sample_count(
	ba_contact_agg_df.iloc[:12], x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = 'Contact 2s samples per brood age 2 - 10'
)

plot_sample_count(
	ba_contact_agg_df.iloc[12:], x_label_col = 'recording', x_rotation = 'vertical', x_label = 'Recording',
	title = 'Contact 2s samples per brood age 11 - 18'
)

plot_sample_count(
	ba_contact_cls_agg_df[:10], x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood age',
	title = 'Contact 2s samples per recording, age 2 - 10'
)

plot_sample_count(
	ba_contact_cls_agg_df[10:], x_label_col = 'class', x_rotation = 'horizontal', x_label = 'Brood age',
	title = 'Contact 2s samples per recording age 11 - 18'
)

### Age grouping

In [100]:
from sfw_brood.preprocessing import group_ages
from sklearn.preprocessing import OneHotEncoder

c:\users\barto\devel\repos\pycharmprojects\snowfinchwire.broodanalyzer\venv\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [117]:
age_group_df = group_ages(
	ba_data[~ba_data['is_silence'] & (ba_data['event'] == 'feeding')],
	# groups = [(0, 5), (6, 8), (9, 12), (13, 30)]
	groups = [(0, 4), (5, 7), (8, 10), (11, 13), (14, 30)]
)
age_group_df

C:\Users\barto\Devel\Repos\PycharmProjects\SnowfinchWire.BroodAnalyzer\sfw_brood\preprocessing.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_group_df['class'] = age_group_df['class'].apply(map_age)

,file,class,00-04,05-07,08-10,11-13,14-30
0,AT_1_2_1_22-BA04_BS02-2466C2065B90281B_2022060...,00-04,1.0,0.0,0.0,0.0,0.0
1,Furka10_22a-BA03_BS04-24E144045FDF1AD9_2022060...,00-04,1.0,0.0,0.0,0.0,0.0
2,Furka10_22a-BA03_BS04-24E144045FDF1AD9_2022060...,00-04,1.0,0.0,0.0,0.0,0.0
3,Furka10_22a-BA03_BS04-24E144045FDF1AD9_2022060...,00-04,1.0,0.0,0.0,0.0,0.0
4,Furka10_22a-BA03_BS04-24E144045FDF1AD9_2022060...,00-04,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
5848,AT_1_3_1_22-BA17_BS03-243B1F075C79F9E9_2022061...,14-30,0.0,0.0,0.0,0.0,1.0
5849,AT_1_3_1_22-BA17_BS03-243B1F075C79F9E9_2022061...,14-30,0.0,0.0,0.0,0.0,1.0
5850,AT_1_3_1_22-BA17_BS03-243B1F075C79F9E9_2022061...,14-30,0.0,0.0,0.0,0.0,1.0
5851,AT_1_3_1_22-BA17_BS03-243B1F075C79F9E9_2022061...,14-30,0.0,0.0,0.0,0.0,1.0
5852,Furka33_22a-BA17_BS02-248D9B02603706BB_2022072...,14-30,0.0,0.0,0.0,0.0,1.0

In [118]:
age_group_agg_df = age_group_df[['file', 'class']].groupby('class').count()
# age_group_agg_df = age_group_agg_df.reset_index().drop(columns = 'index').rename(columns = { 'file': 'sample_count' })
age_group_agg_df

       file
class
00-04  1386
05-07  1108
08-10  1130
11-13  1185
14-30  1044